$color-white: #fff;
$color-black: #000;
$color-grey: #808080;
$color-grey-darker: #333;
$color-grey-light: #e2e2e2;
$color-pink-light: #fddbf0;
$primary-color: #3498db;
$primary-color-darker: #2e7aac;
$primary-color-lighter: #6fafda;
