@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-space-between($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center-align($direction, $justify, $align, $content) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin flex-center-wrap($gap: 20px) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: $gap;
}

@mixin responsive($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}
