//Font

$font-primary: "Poppins", sans-serif;
$font-logo: "Righteous", sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

// Media Queries Breakpoints

$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
