@use "../abstracts/colors" as c;

.contact-page {
  padding: 3rem 2rem;
  flex: 1;

  .contact-info {
    max-width: 800px;
    margin: 0 auto 3rem;
    text-align: center;

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 2.5rem;

      li {
        font-size: 1rem;
        margin-bottom: 0.5rem;

        strong {
          color: c.$primary-color-darker;
        }
      }
    }
  }
}
