@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/colors" as c;
@use "../abstracts/shadows" as s;

.platform-info {
  h1 {
    font-size: 2rem;
  }

  h1,
  h2 {
    color: c.$primary-color;
  }

  p {
    font-size: 1.2rem;
    max-width: 600px;
    color: c.$color-grey-darker;
  }
}

.education-quote {
  @include m.flex-center;

  padding: 50px 20px;
  border: solid 2px #757575;
  margin-bottom: 50px;
}
