@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/colors" as c;
@use "../abstracts/shadows" as s;

.platform-info,
.check-prices {
  h1 {
    font-size: 2rem;
  }

  h1,
  h2 {
    color: c.$primary-color;
  }

  p {
    font-size: 1.2rem;
    max-width: 600px;
    color: c.$color-grey-darker;
  }
}

.education-quote {
  @include m.flex-center;

  padding: 50px 20px;
  border: solid 2px #757575;
  margin-bottom: 50px;
}

.enroll-reasons {
  text-align: center;
  padding: 50px 20px;
  background-color: c.$color-pink-light;

  .enroll-text {
    max-width: 600px;
    margin: 0 auto;

    p {
      font-size: 1.2rem;
      margin-bottom: 30px;
    }
  }

  h2 {
    color: c.$color-white;
    font-size: 1.8rem;
    text-shadow: s.$text-shadow-default;
    margin-bottom: 20px;
  }

  .reason-cards {
    @include m.flex-center-wrap;
  }
}
