@font-face {
    font-family: 'Righteous';
    src: local('Righteous Regular'), local('Righteous-Regular'),
        url('Righteous-Regular.woff2') format('woff2'),
        url('Righteous-Regular.woff') format('woff'),
        url('Righteous-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }